.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  text-align: center;
  justify-content: space-between;
  align-items: flex-start;

}

.App-message-list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Message-holder {
  display: flex;
  background-color: cyan;
}

.MessageForm {
  display: flex;
}
